.bottom-card-container {
    display: grid;
    grid-template-columns: repeat(5, minmax(80px, 1fr));
    grid-auto-rows: auto;
    column-gap: 20px;
    margin-right: 10px;
    margin-top: 3em;
    cursor: pointer;
}

.bottom_card_img  {
    width: 100%;
    object-fit: contain;
    border-radius: 8px;
    margin-bottom: 2em;
}


.bottom_card_img p {
    min-height: 35px ;
}

button {
    margin-top: 1em;
    border-radius: 4px;
    color: #fff;
    border: none;
    padding: 8px 15px;
    background-image: linear-gradient(to right,  #F63F29, #DF1B5B );
    font-size: 20px;
    font-weight: 600;
    font-family:'Noto Sans', sans-serif;
    margin-bottom: 20px;
}

.paragraph5 {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: #A29C9D;
    margin-bottom: 3em;
}

.paragraph6 {
    font-size: 26px;
    font-family:'Noto Sans', sans-serif;
    font-weight: 600;
}

.paragraph7 {
    font-size: 16px;
     font-family:'Noto Sans', sans-serif;
     margin-top: 10px;
     color: #686C71;
}
span {
    color: #E14344;
}
.footer {
    display: grid;
    width: 100%;
    color: #E14344;
    grid-template-columns: repeat(2, 150px);
    margin-top: 1em;
   font-size: 14px;
   font-family: 'Roboto', sans-serif;
}

@media(max-width:768px) {
    .bottom-card-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(80px, 1fr));
    grid-auto-rows: auto;
    column-gap: 20px;
    margin-right: 10px;
    margin-top: 3em;

}

}